%section.mt-4.pt-4
%section.mt-4.pt-4
%section.mt-2.pt-2
.box
  =image_tag('banner.png')
%div
  .container
    .row
      .section-title.text-center.col.mb-60.pt-10
        %h1 Gallery
    .row.row-cols-3
      - @auction_items.each do |item|
        .col-sm-4.mt-2
          .product
            .image
              %a.img
                %img.zoom{alt: "Product", src: item.image_url}/
            .content.p-4
              .head.fix
                .title-category.float-left
                  %h5.title
                    %a #{item.name}
                  %a #{item.user.name}
                .price.float-right
                  %span.new ₹ #{item.current_bid_amount}
