.col-lg-4.col-md-6.col-12.mb-60
  .product
    .image
      %a.img{href: "product-details.html"}
        %img{alt: "Product", src: "assets/images/1.jpg"}/
      %a.wishlist{href: "#"}
        %i.fa.fa-heart-o
      %span.label New
    .content
      .head.fix
        .title-category.float-left
          %h5.title
            %a{href: "product-details.html"} Holiday Candle
          %a.category{href: "shop.html"} Catalog
        .price.float-right
          %span.new $38
      .action-button.fix
        %a{href: "#"} add to cart