.footer-section.section.bg-dark{:style => "background-image: url(img/bg/footer-bg.png)"}
  .container
    .row
      .col
        / Footer Top Start
        .footer-top.section.pt-30.pb-40
          .row
            / Footer Widget
            .footer-widget.col-sm-6
              %h3 Josh Software
              %p Josh stands for enthusiasm and passion. We believe Programming is an Art and build Innovative Web Based Applications on an Open Source framework for our world-wide clientele.

            .footer-widget.col-sm-6
              .row.d-flex.float-end
                .col
                  %a{:href => "https://www.facebook.com/joshsoftware", :target => "_blank"}
                    %i.fab.fa-facebook.fa-2x
                .col
                  %a{:href => "https://twitter.com/joshsoftware", :target => "_blank"}
                    %i.fab.fa-twitter.fa-2x
                .col
                  %a{:href => "http://www.linkedin.com/company/josh-software-private-limited", :target => "_blank"}
                    %i.fab.fa-linkedin.fa-2x
                .col
                  %a{:href => "https://www.instagram.com/josh.software/", :target => "_blank"}
                    %i.fab.fa-instagram.fa-2x
