%header.fb-page-header
  .header-section.section
    .row
      .col
        .header-top-wrapper
          .row
            .header-social.col-md-4.col-12
              %a{href: "#"}
                %i.fa.fa-facebook
              %a{href: "#"}
                %i.fa.fa-twitter
              %a{href: "#"}
                %i.fa.fa-linkedin
              %a{href: "#"}
                %i.fa.fa-instagram
              %a{href: "#"}
                %i.fa.fa-pinterest-p

          .header-logo.mx-auto
            %a.logo
              %h1{style:"font-family: 'Comic Sans MS', 'Comic Sans', cursive;font-style: italic;"} WeCare
