%header.fb-page-header
  .header-section.section
    .row
      .col
        .header-top-wrapper
          .header-logo.mx-auto
            %a.logo
              %h1{style:"font-family: 'Comic Sans MS', 'Comic Sans', cursive;font-style: italic;"} WeCare
