%header.fb-page-header
  .header-section.section
    .row
      .col
        .header-top-wrapper
          .header.logo.row
            %a.col.m-2
              =image_tag('logo.png', style:"width: 170px")
            %a.col.m-2
              =image_tag('josh-logo.svg', style:"width: 170px", class:"float-end")
