.product-section.section.pt-70.pb-60
  .container
    .row
      .section-title.text-center.col.mb-60
        %h1 Featured Products
    .row
      = render "partial/card"
      = render "partial/card"
      = render "partial/card"