%header.fb-page-header
  %a.fb-sidebar-toggle{"data-toggle" => "modal", :href => "#fbSidebar", :type => "button"}
    %i.fas.fa-bars.d-lg-none.d-xl-block
  %a.logo{:href => "javascript:void(0)"}
    %p.mb-0
      %b Flip
      %span Blackboard
  %ul.nav.navbar-nav.nav-profile
    %li.dropdown.dropdown-avtar
      %button#dropdownMenuButton.user.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
        .box-avtar
          %strong.name-initials=initials_of_username
        %span=username
      .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
        .box-logout
          = link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-green btn-sm btn-block px-3", data: { confirm: 'Are you sure you want to logout the session?' }
